<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org" xmlns:xmls="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body>
<nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="/">Главная</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Блог</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/about">О нас</a>
</nav>
<div class = "container mt-5">
    <h1>Блог сайта</h1>
    <div th:each="el : ${posts}" />
        <h3 th:text="${el.title}"/>
        <p th:text="${el.anons}"/>
        <a th:href="'/blog/' + ${el.id}">Детальнее</a>
    </div>
</div>

</body>
</html>